DISCORD_BOT_TOKEN=ton_token_bot_discord
DISCORD_CLIENT_ID=ton_application_id_bot
DISCORD_TEST_GUILD_ID=id_de_ta_guilde_de_dev_optionnel

MONGO_URI=mongodb://127.0.0.1:27017/kaelys_convoc
# OU : MONGO_URI=mongodb+srv://user:pass@cluster0.mongodb.net/kaelys_convoc?retryWrites=true&w=majority

# Optionnel : locale d'affichage par défaut des dates
LOCALE=fr-FR
TIMEZONE=Europe/Paris
